<div class="list-group">
    <a href="{% url 'kitchen:dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="{% url 'kitchen:dishes' %}" class="list-group-item list-group-item-action">Dishes</a>
    <a href="{% url 'kitchen:cooks' %}" class="list-group-item list-group-item-action">Cooks</a>
    <a href="{% url 'kitchen:ingredients' %}" class="list-group-item list-group-item-action">Ingredients</a>
    <a href="#" class="list-group-item list-group-item-action">Profile</a>
    <a href="#" class="list-group-item list-group-item-action">Settings</a>
    <form method="post" action="{% url 'kitchen:logout' %}">
        {% csrf_token %}
        <button type="submit" class="list-group-item list-group-item-action btn btn-link">Logout</button>
    </form>
</div>
