{% extends 'base.html' %}

{% block content %}
<h1>Delete Assigned Cook</h1>

<form method="post" action="{% url 'kitchen:delete_assigned_cook' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="assigned_cook">Assigned Cook</label>
        <select class="form-control" id="assigned_cook" name="cook_id">
            {% for cook in assigned_cooks %}
                <option value="{{ cook.id }}">{{ cook.first_name }} {{ cook.last_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="dish">Dish</label>
        <select class="form-control" id="dish" name="dish_id">
            {% for cook in assigned_cooks %}
                {% for dish in cook.dishes.all %}
                    <option value="{{ dish.id }}">{{ dish.name }}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Delete Assigned Cook</button>
</form>
{% endblock %}
