{% extends 'base.html' %}

{% block content %}
<div class="title-container">
    <h1 class="assigned-cooks-title">Delete Dish</h1>
</div>

<div class="auth-container">
    <div class="auth-box">
        <form method="post" action="{% url 'kitchen:delete_dish' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="dish_id">Select Dish to Delete</label>
                <select class="form-control" id="dish_id" name="dish_id" required>
                    {% for dish in dishes %}
                        <option value="{{ dish.id }}">{{ dish.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}