{% extends 'base.html' %}

{% block content %}
<h1>Kitchen Information</h1>

<div class="dish-list">
    {% for dish in page_obj %}
        <div class="dish-block">
            <h2>{{ dish.name }}</h2>
            <p><strong>DishType:</strong> {{ dish.dish_type.name }}</p>
            <p><strong>Ingredients:</strong> {{ dish.ingredients.all|join:", " }}</p>
            <p><strong>Cooks:</strong> {{ dish.cooks.all|join:", " }}</p>
            <p><strong>Price:</strong> ${{ dish.price }}</p>
        </div>
    {% endfor %}
</div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
